body {
    background-color: rgb(68, 118, 73);
}
.mainheads {
    text-align: center;
    font-family: "Chewy", cursive;
    color: goldenrod;
}
.smallheads {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: goldenrod;
    text-align: center;

}
.intro {
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}


.listone {
    font-size: large;
    text-align: center;
    color: rgb(183, 110, 22);
}

